[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hatch = "*"
requests = "*"
pytest = "*"
requests-mock = "*"
pytest-cov = "*"
pytest-flakes = "*"
build = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.11"
